<div class="inscription mt-5">
    <div class="container shadow py-3">
        <h1 class="text-center fw-bold mb-5">Inscrivez-vous</h1>
        <form action="">
            <div class="mb-3">
                <label for="nameInput" class="form-label">Nom: </label>
                <input type="text" name="name" class="form-control" id="nameInput" [(ngModel)] = "nom" (input)="verifNomFonction()">
                <p class="text-danger"*ngIf="!exactNom">{{verifNom}}</p>
                <p class="text-success" *ngIf="exactNom">Le nom est valide</p>

            </div>
            <div class="mb-3">
                <label for="prenomInput" class="form-label">Prenom: </label>
                <input type="text" name="prenom" class="form-control" id="prenomInput" [(ngModel)] = "prenom" (input)="verifPrenomFonction()">
                <p class="text-danger">{{verifPrenom}}</p>
            </div>
            <div class="mb-3">
                <label for="emailInput" class="form-label">Adresse email:</label>
                <input type="email" name="email" class="form-control" id="emailInput" [(ngModel)] = "email" (input)="this.verifEmailFonction()">
                <p class="text-danger">{{verifEmail}}</p>
            </div>
            <div class="mb-3">
                <label for="passwordInput" class="form-label">Mot de passe : </label>
                <input type="password" name="password" class="form-control" id="passwordInput" [(ngModel)] = "password" (input)="verifPasswordFonction()">
                <p class="text-danger" >{{verifPassword}}</p>
            </div>
            <div class="mb-3">
                <label for="passwordInputConf" class="form-label">Confirmation de mot de passe: </label>
                <input type="password" name="passwordConf" class="form-control" id="passwordInputConf" [(ngModel)] = "passwordConf" (input)="verifPasswordConfFonction()">
                <p class="text-danger">{{verifPasswordConf }}</p>
            </div>
            
            <div class="btn-auth text-center">
                <button type="submit" class="btn btn-primary me-3" (click)="validerInscription()">S'incrire</button>
                <button type="button" class="btn btn-danger " (click)="annulerInscription()">Annuler</button>

            </div>
        </form>
    </div>
</div>


<div class="connexion mt-5">
    <div class="container shadow py-3">
        <h1 class="text-center fw-bold mb-5">Connectez-vous</h1>
        <form action="">
            <div class="mb-3">
                <label for="emailInput" class="form-label">Adresse email:</label>
                <input type="email" name="email" class="form-control" id="emailInput" [(ngModel)] = "email" (input)="this.verifEmailFonction()">
                <p class="text-danger" *ngIf="!exactEmail">{{verifEmail}}</p>
                <p class="text-success" *ngIf="exactEmail"><i class="bi bi-check2-all"></i> OK!</p>
            </div>
            <div class="mb-3">
                <label for="passwordInput" class="form-label">Mot de passe : </label>
                <input type="password" name="password" class="form-control" id="passwordInput" [(ngModel)] = "password" (input)="verifPasswordFonction()">
                <p class="text-danger" *ngIf="!exactPassword">{{verifPassword}}</p>
                <p class="text-success" *ngIf="exactPassword"><i class="bi bi-check2-all"></i> OK!</p>
            </div>
            <div class="btn-auth text-center">
                <button type="submit" class="btn btn-primary me-3" (click)="connexion()">Se connecter</button>

            </div>
        </form>
    </div>
</div>